<form (ngSubmit)="onSubmit(f)" #f="ngForm">
<div class="form-group">
  <label for="firstName" class="control-label">First Name: </label>
  <input type="text"
    class="form-control"
    name="firstName"
    [(ngModel)]="person.firstName"
    required
    id="firstName">
</div>

<div class="form-group">
  <label for="lastName" class="control-label">First Name</label>
  <input type="text"
    [(ngModel)]="person.lastName"
    class="form-control"
    name="lastName"
    required
    id="lastName">
</div>

<div class="form-group">
  <label for="favoriteColor" class="control-label">Favorite Color</label>
  <input [(ngModel)]="person.favoriteColor"
         type="text"
         class="form-control"
         name="favoriteColor"
         required
         id="favoriteColor">

</div>
  <div *ngIf="!isCreated; else Summary">
    <button type="submit" class="btn btn-primary"  [disabled]="!f.valid">Create</button>
    <button type="submit" class="btn btn-primary" (click)="onCancel()">Cancel</button>
  </div>

  <ng-template #Summary>
    <div><p>{{person.summary}}</p></div>
  </ng-template>

</form>

